---
import MainPageProject from './MainPageProject.astro';

import { projects } from '../constants/MainPage';
import MainPageSectionTitle from './MainPageSectionTitle.astro';
---

<section id="projects">
  <MainPageSectionTitle>Freelance/Part-time Projects</MainPageSectionTitle>

  <div>
    {
      projects.map((project) => (
        <MainPageProject
          href={project.href}
          img={project.img}
          description={project.description}
          website={project.website}
          code={project.code}
        />
      ))
    }
  </div>
</section>

<style>
  div {
    display: grid;
    column-gap: 25px;
    row-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 1000px) {
    div {
      grid-template-columns: 1fr;
    }
  }
</style>
